<h1>推し選手一覧</h1>

<%= link_to "推し選手を登録する", new_favorite_player_path %>

<% if @favorite_players.any? %>
  <% @favorite_players.each do |favorite_player| %>
    <div>
      <h2>
        <%= link_to favorite_player.name, favorite_player_path(favorite_player) %>
      </h2>
      <p>チーム：<%= favorite_player.team %></p>
      <p>ポジション：<%= favorite_player.position %></p>
    </div>
  <% end %>
<% else %>
  <p>まだ推し選手が登録されていません。</p>
<% end %>
